<div class="row">
  {{#each pokemons}}
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="card shadow-sm">
        <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}" />

        <div class="card-body">
          <h5 class="card-title">#{{this.id}} - {{this.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <span class="badge badge-secondary">
              {{this.type1}}
            </span>
            {{#if this.type2}}
              <span class="badge badge-secondary">
                {{this.type2}}
              </span>
            {{/if}}
          </h6>
          <div class="w-100">
            <a href="./pokemon/{{this.id}}">
              <button type="button" class="btn btn-primary w-100">ver
                informações</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>